
.galeria-container {
    padding: 20px;
    text-align: center;
    background-color: #333; 
}

.galeria h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.imagem {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 767px) {
    .imagem {
        flex: 1 1 calc(100% - 10px); 
    }

    .galeria h1 {
        font-size: 20px; 
    }

    .navegacao .titulo {
        font-size: 18px; 
    }
}
